@{
    ViewData["Title"] = "Home Page2";
}

<div class="requests">
    <div class="filter-box">
        <div class="filter-left">
            <p class="filter-label">Оставьте вашу заявку</p>
            <div class="filter-content">

                <div class="">

                    <span class="filter-input-label">Как вас зовут?</span>
                    <input name="TestName" class="form-group" type="text" placeholder="Пример: Иванов Иван Иванович">
                </div>

                <div class="">

                    <span class="filter-input-label">О какой проблеме хотите сообщить?</span>
                    <input class="form-group" type="text" placeholder="Пример: Не убран снег на ул. Минина, 24, корп. 1">
                </div>
            </div>
        </div>
    </div>

</div>