@{
    ViewData["Title"] = "MainAbout";
}

    <div class="wrapper">

        <main class="main">
            <section class="about">
                <div class="container">
                    <div class="about-inner">
                        <div class="about_ecology">
                            <div class="about_ecology-content">
                                <div class="heading_title">
                                    <span class="about_header-1">Ваш вклад <br></span>
                                    <span class="about_header-2">в Экологию</span>
                                </div>
                                <div class="info">
                                    Сайт создан для решения экологических проблем блаблабла
                                </div>
                            </div>
                            <img src="~/img/image 3.jpg" alt="" class="about_img">
                        </div>
                    </div>
                </div>
            </section>

            <section class="why">
                <div class="container">
                    <div class="why-inner">
                        <div class="why-content">
                            <p class="why-header">Зачем вам это?</p>
                            <p class="why-conetent-1">Здесь вы сможете поделиться экологическими нарушениями, с которыми сталкиваетесь , написать нашим экспертам или поделиться своими идеями и опытом решения проблем.</p>
                            <p class="hueta"></p>
                            <p class="why-conetnt-3">Вы можете изменить мир, меняя свои привычки !</p>
                        </div>
                        <img src="~/img/image 6.jpg" alt="" class="why-img">
                    </div>
                </div>
            </section>

            <section class="contact">
                <div class="container">
                    <div class="contact-inner">
                        <div class="contact-content">
                            <div class="contact-header">
                                <p>Напиши нам:</p>
                            </div>
                            <div class="contact-form">

                            </div>
                            <div class="send-button">
                                <a href="#"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <hr />

