@{
    ViewData["Title"] = "Profile";
}

<div class="user-info">
    <div class="profile-image">
        <img src="~/img/user-female.svg" alt="">
        <span><a href="#"><img src="../static/img/camera.svg" alt=""></a></span>
    </div>
    <div class="name">
        <p class="user-name">Name</p>
        <p class="user-static">Паспорт</p>
        <p class="user-documents">2222 222222</p>
    </div>

    <div class="surname">
        <p class="user-name">Surname</p>
        <p class="user-static">СНИЛС</p>
        <p class="user-documents">533 485 486 06</p>
    </div>

    <div class="lastname">
        <p class="user-name">Lastname</p>
        <p class="user-static">ИНН</p>
        <p class="user-documents">559860769585</p>
    </div>
</div>

<div class="contacts-grid">

    <div class=""></div>
    <div class="user-contacts">
        <p class="static-contacts contacts-label">Мои данные и контакты: <br></p>
        <p class="static-contacts">Телефон: <span class="dynamic-contacts">Phone number</span></p>
        <p class="static-contacts">Почта: <span class="dynamic-contacts">Email <br></span></p>
        <p class="static-contacts">Адрес: <span class="dynamic-contacts">Address</span></p>
    </div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class="user-edit-profile">
        <a href="#">Редактировать учётную запись</a>
        <hr class="hr-line1">
        <a href="#">Удалить учётную запись</a>
        <hr class="hr-line2">
    </div>

</div>


